
 vista-drop-blue2222 {
    /* background: linear-gradient(to bottom, 
       rgba(212,240,255,0.5) 10%, 
       rgba(247, 225, 220,0.5) 15%, 
       rgba(247, 225, 220,0.5) 11%, 
       rgba(247, 225, 220,0.5) 100%
    );  */
   
    background-color: rgb(211, 131, 180);
   
    border: 1px solid #717171;
    box-shadow: inset 0 1px 0 white;
}

