@import "tailwindcss";

.blanttccc {
    @apply w-16 h-16 rounded-full border-2 border-amber-300 bg-blue-300;
  }
  
  @layer components {
    .th-cell {
      @apply   dark:border-slate-600
             font-medium text-slate-400 dark:text-slate-200 text-left
             p-4 pl-8 pt-0 pb-3;
    }
  }


